//Porting to GW2A18, Sipeed Tang Primer 20K

IO_LOC "clk_in"         H11;
IO_LOC "erstn"          C7;     //Key_5 on Tang Primer 20K dock

IO_PORT "clk_in"        IO_TYPE=LVCMOS33;
IO_PORT "erstn"         IO_TYPE=LVCMOS33;


IO_LOC "gpio_in[16]"    T13;    //from BL702_UART1_TX
IO_LOC "gpio_out[17]"   M11;    //to BL702_UART1_RX

IO_PORT "gpio_in[16]"   IO_TYPE=LVCMOS33;
IO_PORT "gpio_out[17]"  IO_TYPE=LVCMOS33;


IO_LOC "tdo"            C6;
IO_LOC "tms"            B8;
IO_LOC "tck"            A7;
IO_LOC "tdi"            A6;

IO_PORT "tdo"           IO_TYPE=LVCMOS33;
IO_PORT "tms"           IO_TYPE=LVCMOS33;
IO_PORT "tck"           IO_TYPE=LVCMOS33;
IO_PORT "tdi"           IO_TYPE=LVCMOS33;

IO_PORT "tms"           PULL_MODE=UP;
IO_PORT "tck"           PULL_MODE=UP;
IO_PORT "tdi"           PULL_MODE=UP;

// Terminal UART RX (from PC/MCU TX)
IO_LOC  "term_uart_rx"   T13;
IO_PORT "term_uart_rx"   IO_TYPE=LVCMOS33 PULL_MODE=UP;

// LCD/HDMI timing and RGB (from fpga_my mapping)
IO_LOC "lcd_dclk" R9;
IO_LOC "lcd_hs"   A15;
IO_LOC "lcd_vs"   D14;
IO_LOC "lcd_de"   E15;
IO_LOC "lcd_r[0]" L9;
IO_LOC "lcd_r[1]" N8;
IO_LOC "lcd_r[2]" N9;
IO_LOC "lcd_r[3]" N7;
IO_LOC "lcd_r[4]" N6;
IO_LOC "lcd_g[0]" D11;
IO_LOC "lcd_g[1]" A11;
IO_LOC "lcd_g[2]" B11;
IO_LOC "lcd_g[3]" P7;
IO_LOC "lcd_g[4]" R7;
IO_LOC "lcd_g[5]" D10;
IO_LOC "lcd_b[0]" B12;
IO_LOC "lcd_b[1]" C12;
IO_LOC "lcd_b[2]" B13;
IO_LOC "lcd_b[3]" A14;
IO_LOC "lcd_b[4]" B14;

IO_PORT "lcd_dclk" IO_TYPE=LVCMOS33;
IO_PORT "lcd_hs"   IO_TYPE=LVCMOS33;
IO_PORT "lcd_vs"   IO_TYPE=LVCMOS33;
IO_PORT "lcd_de"   IO_TYPE=LVCMOS33;
IO_PORT "lcd_r[0]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_r[1]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_r[2]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_r[3]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_r[4]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_g[0]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_g[1]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_g[2]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_g[3]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_g[4]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_g[5]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_b[0]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_b[1]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_b[2]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_b[3]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_b[4]" IO_TYPE=LVCMOS33;

// 背光信号若需外出，请在此指定管脚；如未用可临时占用空脚
IO_LOC  "lcd_bl"   A5;
IO_PORT "lcd_bl"   IO_TYPE=LVCMOS33;


